*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 10000px;
}

.block{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background: yellow;
    margin: 100px;
    display: flex;
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* justify-content:end; */
    /* align-items: flex-end; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* justify-content: ; */
    /* align-items: center; */
    /* justify-content: flex-end; */
    flex-direction: column;
    position: relative;
    
}
.box{
    width: 70px;
    height: 70px;
    border: black 2px solid;
    
}

.box:nth-child(1){
 color: #ffffff;
 background-color: #000;
 order: -2;
 position: relative;
 
 right: 0;
 left: 101px;
 top: 0;
 bottom: 0;
 

}
.box:nth-child(2){
    color: #ffffff;
    background-color: red;
    order: -4;
    position: relative;
    /* left: 10px; */
    right:-50px ;
    
    bottom: 34px;
}
.box:nth-child(3){
    color: #ffffff;
    background-color: blue;
    order: -3;
    position: absolute;

    right:-100px;
    top: -10px;
     
}
.box:nth-child(4){
    color: #ffffff;
    background-color: green;
    order: -1;
    position: fixed;
    
    right: 40px;
    bottom: 40%;

}



